#main-title {
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 507px){
    #main-title {
        font-size: 1.5em;
    }
}

@media (max-width: 434px){
    #main-title {
        font-size: 1.2em;
    }
}

.notification-item {
    display: block;
}

.navbar-brand a:hover {
    text-decoration: none;
}

@media (min-width: 992px) {
    .header-v6 .navbar-nav {
        float: right;
    }
}

@media (max-width: 991px){
    .header-v6 .navbar-brand {
        padding-top: 12px;
    }
}

.services.container a {
    color: inherit;
}

.services.container a:hover {
    color: #3498db;
    text-decoration: none;
}

.slide-2nd-content.revolution-ch2:after {
    content: none;
}

.revolution-ch2:after {
    left: 50%;
    width: 70px;
    height: 2px;
    content: ' ';
    bottom: -10px;
    background: #fff;
    margin-left: -35px;
    position: absolute;
}

.tp-caption a {
    color: #3498db;
    cursor: pointer;
}

.slide-sub-title {
    font-size: smaller;
}

.slide-sub-title:after {
    left: 50%;
    width: 70px;
    height: 2px;
    content: ' ';
    bottom: -10px;
    background: #fff;
    margin-left: -35px;
    position: absolute;
}

